RewriteEngine On
RewriteRule ^category/([a-z])+/$ /kategorie/$1/ [L,R=301]

RewriteRule ^19-tpb-afk-the-pirate-bay-away-from-keyboard/$ /2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/ [L,R=301]
RewriteRule ^44-konec-google-reader/$ /2013/03/konec-google-reader/ [L,R=301]
RewriteRule ^51-opozdene-velikonocni-pernicky/$ /2013/04/opozdene-velikonocni-pernicky/ [L,R=301]
RewriteRule ^57-prvni-bylinky-na-zahradce/$ /2013/05/prvni-bylinky-na-zahradce/ [L,R=301]
RewriteRule ^62-dalsi-dvojice-bylinek/$ /2013/05/dalsi-dvojice-bylinek/ [L,R=301]
RewriteRule ^87-sungit/$ /2013/07/sungit/ [L,R=301]
RewriteRule ^93-dovolena-na-cerine/$ /2013/08/dovolena-na-cerine/ [L,R=301]
RewriteRule ^1-ahoj-vsichni/$ /2013/02/ahoj-vsichni/ [L,R=301]
RewriteRule ^126-bylinky-na-podzim/$ /2013/09/bylinky-na-podzim/ [L,R=301]
RewriteRule ^176-caj/$ /2013/12/caj/ [L,R=301]
RewriteRule ^190-raspberry-pi-navody/$ /2014/02/raspberry-pi-navody/ [L,R=301]
RewriteRule ^192-jaro-je-tady/$ /2014/03/jaro-je-tady/ [L,R=301]
RewriteRule ^164-raspberry-pi-napajeni-a-repracky/$ /2013/11/raspberry-pi-napajeni-a-repracky/ [L,R=301]
RewriteRule ^121-raspberry-pi-wi-fi-tp-link-tl-wn725n-instalace/$ /2013/09/raspberry-pi-wi-fi-tp-link-tl-wn725n-instalace/ [L,R=301]
RewriteRule ^117-raspberry-pi-pasivni-chlazeni/$ 2013/09/raspberry-pi-pasivni-chlazeni/ [L,R=301]
RewriteRule ^146-raspberry-pi-krabicka/$ /2013/10/raspberry-pi-krabicka/ [L,R=301]
RewriteRule ^144-raspberry-pi-raspbian-ssh-sftp-a-putty/$ /2013/10/raspberry-pi-raspbian-ssh-sftp-a-putty/ [L,R=301]
RewriteRule ^97-raspberry-pi-objednavka/$ /2013/08/raspberry-pi-objednavka/ [L,R=301]
RewriteRule ^166-raspberry-pi-cerna-obrazovka/$ /2013/11/raspberry-pi-cerna-obrazovka/ [L,R=301]
RewriteRule ^211-kvetouci-rozmaryn/$ /2014/03/kvetouci-rozmaryn/ [L,R=301]
RewriteRule ^215-pocetna-rodinka/$ /2014/05/pocetna-rodinka/ [L,R=301]
RewriteRule ^245-tri-bratri/$ /2015/02/tri-bratri/ [L,R=301]
RewriteRule ^249-dobudoval-jsem-strom-dovednosti/$ /2015/04/dobudoval-jsem-strom-dovednosti/ [L,R=301]
RewriteRule ^220-rizkovani-rozmarynu/$ /2014/06/rizkovani-rozmarynu/ [L,R=301]
RewriteRule ^186-michana-vajicka-s-cherry-rajcaty/$ /2014/01/michana-vajicka-s-cherry-rajcaty/ [L,R=301]
RewriteRule ^182-raspberry-pi-nova-krabicka/$ /2014/01/raspberry-pi-nova-krabicka/ [L,R=301]
RewriteRule ^169-raspberry-pi-omxplayer-a-mplayer/$ /2013/11/raspberry-pi-omxplayer-a-mplayer/ [L,R=301]
RewriteRule ^151-cesta-podel-malse/$ /2013/11/cesta-podel-malse/ [L,R=301]
RewriteRule ^77-bylinky-po-prvnim-mesici/$ /2013/06/bylinky-po-prvnim-mesici/ [L,R=301]
RewriteRule ^131-v-podzimni-prirode/$ /2013/10/v-podzimni-prirode/ [L,R=301]
RewriteRule ^286-xiaomi-redmi-2/$ /2016/03/xiaomi-redmi-2/ [L,R=301]
RewriteRule ^239-windows-8-1/$ /2015/02/windows-8-1/ [L,R=301]
RewriteRule ^104-raspberry-pi-raspbian-instalace/$ /2013/09/raspberry-pi-raspbian-instalace/ [L,R=301]
RewriteRule ^29-msi-ex620x-vymena-vetracku/$ /2013/02/msi-ex620x-vymena-vetracku/ [L,R=301]
RewriteRule ^67-pajovo-psaci-stul/$ /2013/05/pajovo-psaci-stul/ [L,R=301]
RewriteRule ^82-trenink-s-panvi/$ /2013/06/trenink-s-panvi/ [L,R=301]
RewriteRule ^108-stozec/$ /2013/09/stozec/ [L,R=301]
RewriteRule ^229-duolingo/$ /2014/11/duolingo/ [L,R=301]
RewriteRule ^354-kalendar-2020/$ /2019/12/kalendar-2020/ [L,R=301]
RewriteRule ^364-scitani-na-krmitku/$ /2020/01/scitani-na-krmitku/ [L,R=301]
RewriteRule ^375-proc-spime/$ /2020/10/proc-spime/ [L,R=301]
RewriteRule ^379-kalendar-2021/$ /2020/12/kalendar-2021/ [L,R=301]
RewriteRule ^391-scitani-na-krmitku-2021/$ /2021/01/scitani-na-krmitku-2021/ [L,R=301]
RewriteRule ^403-kalendar-2022/$ /2021/12/kalendar-2022/ [L,R=301]
RewriteRule ^407-scitani-na-krmitku-2022/$ /2022/01/scitani-na-krmitku-2022/ [L,R=301]
RewriteRule ^419-kalendar-2023/$ /2022/11/kalendar-2023/ [L,R=301]
RewriteRule ^422-scitani-na-krmitku-2023/$ /2023/01/scitani-na-krmitku-2023/ [L,R=301]
RewriteRule ^427-kalendar-2024/$ /2023/11/kalendar-2024/ [L,R=301]
RewriteRule ^439-scitani-na-krmitku-2024/$ /2024/01/scitani-na-krmitku-2024/ [L,R=301]

# expires caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 6 month"
    ExpiresByType image/jpeg "access plus 6 month"
    ExpiresByType image/gif "access plus 6 month"
    ExpiresByType image/png "access plus 6 month"
    ExpiresByType text/css "access plus 6 month"
    ExpiresByType application/pdf "access plus 6 month"
    ExpiresByType text/x-javascript "access plus 6 month"
    ExpiresByType application/x-javascript "access plus 6 month"
    ExpiresByType application/javascript "access plus 6 month"
    ExpiresByType application/x-shockwave-flash "access plus 6 month"
    ExpiresByType image/x-icon "access plus 6 month"
    ExpiresByType image/icon "access plus 3 month"
    ExpiresByType application/x-ico "access plus 6 month"
    ExpiresByType application/ico "access plus 6 month"
    ExpiresDefault "access plus 1 days"
</IfModule>
