{% extends "templates/layout.html" %}
{% block title %}Kategorie akce{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii akce.{% endblock description %}
{% block content %}
<section>
    <h2>Kategorie akce</h2>
    <ul>
        <li>13. 11. 2013 - <a href="/2013/11/cesta-podel-malse/">Cesta podél Malše</a></li>
        <li>22. 10. 2013 - <a href="/2013/10/v-podzimni-prirode/">V podzimní přírodě</a></li>
        <li>07. 09. 2013 - <a href="/2013/09/stozec/">Stožec</a></li>
        <li>27. 08. 2013 - <a href="/2013/08/dovolena-na-cerine/">Dovolená na Čeříně</a></li>
    </ul>
</section>
{% endblock content %}
