{% extends "templates/layout.html" %}
{% block title %}Kategorie filmy{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii filmy.{% endblock description %}
{% block content %}
<section>
    <h2>Kategorie filmy</h2>
    <ul>
        <li>23. 02. 2015 - <a href="/2015/02/tri-bratri/">Tři bratři</a></li>
        <li>22. 02. 2013 - <a href="/2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/">TPB AFK: The Pirate Bay Away From Keyboard</a></li>
    </ul>
</section>
{% endblock content %}
