{% extends "templates/layout.html" %}
{% block title %}Fotky{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii fotky.{% endblock description %}
{% block content %}
<section>
    <h2>Kategorie fotky</h2>
    <ul>
        <li>07. 12. 2025 - <a href="/2025/12/veverka/">Veverka</a></li>
        <li>05. 04. 2024 - <a href="/2024/04/cekani-na-jaro/">Čekání na jaro</a></li>
        <li>10. 01. 2021 - <a href="/2021/01/scitani-na-krmitku-2021/">Sčítání na krmítku 2021</a></li>
        <li>12. 01. 2020 - <a href="/2020/01/scitani-na-krmitku/">Sčítání na krmítku</a></li>
        <li>14. 06. 2014 - <a href="/2014/06/rizkovani-rozmarynu/">Řízkování rozmarýnu</a></li>
        <li>28. 05. 2014 - <a href="/2014/05/pocetna-rodinka/">Početná rodinka</a></li>
        <li>23. 03. 2014 - <a href="/2014/03/kvetouci-rozmaryn/">Kvetoucí rozmarýn</a></li>
        <li>02. 03. 2014 - <a href="/2014/03/jaro-je-tady/">Jaro je tady</a></li>
        <li>13. 11. 2013 - <a href="/2013/11/cesta-podel-malse/">Cesta podél Malše</a></li>
        <li>22. 10. 2013 - <a href="/2013/10/v-podzimni-prirode/">V podzimní přírodě</a></li>
        <li>22. 09. 2013 - <a href="/2013/09/bylinky-na-podzim/">Bylinky na podzim</a></li>
        <li>07. 09. 2013 - <a href="/2013/09/stozec/">Stožec</a></li>
        <li>27. 08. 2013 - <a href="/2013/08/dovolena-na-cerine/">Dovolená na Čeříně</a></li>
        <li>12. 06. 2013 - <a href="/2013/06/bylinky-po-prvnim-mesici/">Bylinky po prvním měsíci</a></li>
        <li>04. 05. 2013 - <a href="/2013/05/dalsi-dvojice-bylinek/">Další dvojice bylinek</a></li>
        <li>02. 05. 2013 - <a href="/2013/05/prvni-bylinky-na-zahradce/">První bylinky na zahrádce</a></li>
        <li>15. 04. 2013 - <a href="/2013/04/opozdene-velikonocni-pernicky/">Opožděné velikonoční perníčky</a></li>
    </ul>
</section>
{% endblock content %}
