{% extends "templates/layout.html" %}
{% block title %}Kalendář{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii kalendář.{% endblock description %}
{% block content %}
<section>
    <h2>Kalendář</h2>
    <ul>
        <li>08. 11. 2025 - <a href="/2025/11/kalendar-2026/">Kalendář 2026</a></li>
        <li>01. 11. 2024 - <a href="/2024/11/kalendar-2025/">Kalendář 2025</a></li>
        <li>18. 11. 2023 - <a href="/2023/11/kalendar-2024/">Kalendář 2024</a></li>
        <li>05. 11. 2022 - <a href="/2022/11/kalendar-2023/">Kalendář 2023</a></li>
        <li>05. 12. 2021 - <a href="/2021/12/kalendar-2022/">Kalendář 2022</a></li>
        <li>06. 12. 2020 - <a href="/2020/12/kalendar-2021/">Kalendář 2021</a></li>
        <li>23. 12. 2019 - <a href="/2019/12/kalendar-2020/">Kalendář 2020</a></li>
    </ul>
</section>
{% endblock content %}
