{% extends "templates/layout.html" %}
{% block title %}Knihy{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii knihy.{% endblock description %}
{% block content %}
<section>
    <h2>Knihy</h2>
    <ul>
        <li>05. 04. 2024 - <a href="/2024/04/cekani-na-jaro/">Čekání na jaro</a></li>
        <li>04. 10. 2020 - <a href="/2020/10/proc-spime/">Proč spíme</a></li>
        <li>07. 01. 2014 - <a href="/2014/01/michana-vajicka-s-cherry-rajcaty/">Míchaná vajíčka s&nbsp;cherry rajčaty</a></li>
    </ul>
</section>
{% endblock content %}
