{% extends "templates/layout.html" %}
{% block title %}Notebook{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii notebook.{% endblock description %}
{% block content %}
<section>
    <h2>Kategorie notebook</h2>
    <ul>
        <li>09. 02. 2015 - <a href="/2015/02/windows-8-1/">Windows 8.1</a></li>
        <li>27. 02. 2013 - <a href="/2013/02/msi-ex620x-vymena-vetracku/">MSI EX620X – výměna větráčku</a></li>
    </ul>
</section>
{% endblock content %}
