{% extends "templates/layout.html" %}
{% block title %}Kategorie Raspberry Pi{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii Raspberry Pi.{% endblock description %}
{% block content %}
<section>
    <h2>Kategorie Raspberry Pi</h2>
    <ul>
        <li>24. 02. 2014 - <a href="/2014/02/raspberry-pi-navody/">Raspberry Pi návody</a></li>
        <li>04. 01. 2014 - <a href="/2014/01/raspberry-pi-nova-krabicka/">Raspberry Pi – Nová krabička</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-omxplayer-a-mplayer/">Raspberry Pi – OMXPlayer a&nbsp;MPlayer</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-cerna-obrazovka/">Raspberry Pi – Černá obrazovka</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-napajeni-a-repracky/">Raspberry Pi – Napájení a&nbsp;repráčky</a></li>
        <li>29. 10. 2013 - <a href="/2013/10/raspberry-pi-krabicka/">Raspberry Pi – Krabička</a></li>
        <li>25. 10. 2013 - <a href="/2013/10/raspberry-pi-raspbian-ssh-sftp-a-putty/">Raspberry Pi – Raspbian SSH, SFTP a&nbsp;PuTTY</a></li>
        <li>12. 09. 2013 - <a href="/2013/09/raspberry-pi-wi-fi-tp-link-tl-wn725n-instalace/">Raspberry Pi – Wi-Fi TP-LINK TL-WN725N instalace</a></li>
        <li>11. 09. 2013 - <a href="/2013/09/raspberry-pi-pasivni-chlazeni/">Raspberry Pi – pasivní chlazení</a></li>
        <li>06. 09. 2013 - <a href="/2013/09/raspberry-pi-raspbian-instalace/">Raspberry Pi – Raspbian instalace</a></li>
        <li>31. 08. 2013 - <a href="/2013/08/raspberry-pi-objednavka/">Raspberry Pi – objednávka</a></li>
    </ul>
</section>
{% endblock content %}
