{% extends "templates/layout.html" %}
{% block title %}Různé{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii různé.{% endblock description %}
{% block content %}
<section>
    <h2>Různé</h2>
    <ul>
        <li>29. 03. 2025 - <a href="/2025/03/evoluce-orbit/">Evoluce Orbit</a></li>
        <li>12. 03. 2025 - <a href="/2025/03/kingdom-come-deliverance-2/">Kingdom Come: Deliverance&nbsp;2</a></li>
        <li>12. 01. 2025 - <a href="/2025/01/rok-2024/">Rok 2024</a></li>
        <li>28. 05. 2014 - <a href="/2014/05/pocetna-rodinka/">Početná rodinka</a></li>
        <li>08. 07. 2013 - <a href="/2013/07/sungit/">Šungit</a></li>
        <li>13. 05. 2013 - <a href="/2013/05/pajovo-psaci-stul/">Pájovo psací stůl</a></li>
        <li>13. 02. 2013 - <a href="/2013/02/ahoj-vsichni/">Ahoj všichni!</a></li>
    </ul>
</section>
{% endblock content %}
