{% extends "templates/layout.html" %}
{% block title %}Vaření{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v kategorii vaření.{% endblock description %}
{% block content %}
<section>
    <h2>Vaření</h2>
    <ul>
        <li>07. 01. 2014 - <a href="/2014/01/michana-vajicka-s-cherry-rajcaty/">Míchaná vajíčka s&nbsp;cherry rajčaty</a></li>
        <li>25. 12. 2013 - <a href="/2013/12/caj/">Čaj</a></li>
        <li>28. 06. 2013 - <a href="/2013/06/trenink-s-panvi/">Trénink s&nbsp;pánví</a></li>
        <li>15. 04. 2013 - <a href="/2013/04/opozdene-velikonocni-pernicky/">Opožděné velikonoční perníčky</a></li>
    </ul>
</section>
{% endblock content %}
