{% import "macros/macros.html" as macros %}
{% extends "templates/layout.html" %}
{% block title %}Strana 1{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Pájův blog - strana 1.{% endblock description %}
{% block content %}
<article>
    <h2><a href="/2013/04/opozdene-velikonocni-pernicky/">Opožděné velikonoční perníčky</a></h2>
    <p class="article-meta" data-article-id="201304150">
        <time datetime="2013-04-15">15. 04. 2013</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            Kategorie:
            <a href="/kategorie/vareni/">Vaření</a>,
            <a href="/kategorie/fotky/">Fotky</a>
        </span>
    </p>
    <p>
        Hlavně ty pejsci vypadají nádherně.
    </p>
    <p>
        <a href="/img/2013/04/opozdene-velikonocni-pernicky/pernicky-pejsek-01.jpg">
            <img alt="perníčky ve tvaru pejska" src="/img/2013/04/opozdene-velikonocni-pernicky/pernicky-pejsek-01-580.jpg" class="img-responsive" width="580" height="360">
        </a>
    </p>
    <p>
        <a href="/img/2013/04/opozdene-velikonocni-pernicky/pernicky-pejsek-02.jpg">
            <img alt="perníčky ve tvaru pejska" src="/img/2013/04/opozdene-velikonocni-pernicky/pernicky-pejsek-02-580.jpg" class="img-responsive" width="580" height="519">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2013/03/konec-google-reader/">Konec Google Reader</a></h2>
    <p class="article-meta" data-article-id="201303260">
        <time datetime="2013-03-26">26. 03. 2013</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            Kategorie:
            <a href="/kategorie/internet/">Internet</a>
        </span>
    </p>
    <p>
        V&nbsp;posledních dnech je toho plný internet. Google se chystá 1.&nbsp;července ukončit Google Reader.
        Webovou čtečku RSS. Všude se teď objevují seznamy nejlepších alternativ a&nbsp;návody jak do těchto
        alternativ exportovat své odběry z&nbsp;Readeru. Také jsem přemýšlel co začít používat. Protože už nechci online službu,
        hledal jsem nějaký program. Napřed jsem zkoušel Thunderbird, který už mam stejně nainstalovaný, ale ten nemá
        skoro žádné funkce. Takže jako dočasné řešení jsem začal používat
        <a title="Feedreader" href="https://www.feedreader.com/" target="_blank" rel="noopener noreferrer">Feedreader</a> a&nbsp;třeba časem přijdu na něco lepšího.
    </p>
    <p>
        Otázkou teď je, jestli se ještě vyplatí používat nějaké služby od Googlu,
        když člověk nikdy neví kdy se rozhodnou něco ukončit.
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2013/02/msi-ex620x-vymena-vetracku/">MSI EX620X – výměna větráčku</a></h2>
    <p class="article-meta" data-article-id="201302270">
        <time datetime="2013-02-27">27. 02. 2013</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            Kategorie:
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/notebook/">Notebook</a>
        </span>
    </p>
    <p>
        Po půl roce od čištění větráčku mého notebooku se opět objevily podivné zvuky, které mě rušily při mé usilovné práci.
        Po pečlivé úvaze jsem se rozhodl ho tentokrát nečistit, ale rovnou vyměnit za nový. Sehnat náhradní větráček do notebooku není jednoduché.
        Naštěstí existují vetracky.cz, kde jsem sehnal typ, který jsem potřeboval.
    </p>
    <p>
        Samotná výměna probíhala podobně jako čištění. Odmontoval jsem celou konstrukci chlazení ke které je větráček přidělaný a&nbsp;vyměnil jsem ho za nový.
        Očistil jsem všechny dotykový plochy, natřel jsem je novou pastou a&nbsp;zase jsem všechno namontoval zpátky.
    </p>
    <p>
        Po zapnutí počítače jsem slyšel krásné ticho. Rozhodl jsem se provést nějaký zátěžový test pomocí nějaké náročnější hry abych viděl,
        jak kvalitně bude nový větráček chladit. Po několika minutách jsem stále slyšel krásné ticho, ale klávesnice začínala být neobvykle horká.
        Proto jsem si spustil program ukazující teplotu uvnitř notebooku. Vzhledem k&nbsp;teplotě 90 °C mi došlo, že větráček asi tak úplně nevětrá.
    </p>
    <p>
        Po opětovném rozebrání a&nbsp;zkoumání závady jsem objevil problém. Lopatky nového větráčku jsou o&nbsp;kousek delší než u&nbsp;starého
        a&nbsp;proto dřeli o&nbsp;krycí plech. Jako řešení nakonec stačilo podložit plech podložkami ze stavebnice Merkur. Tím sice vznikla mezera,
        která není ideální, ale nic už nedře a&nbsp;všechno bez problémů funguje.
    </p>
    <p>
        <a href="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-01.jpg">
            <img alt="výměna větráčku notebooku" src="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-01-580.jpg" class="img-responsive" width="580" height="386">
        </a>
    </p>
    <p>
        <a href="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-02.jpg">
            <img alt="výměna větráčku notebooku" src="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-02-580.jpg" class="img-responsive" width="580" height="373">
        </a>
    </p>
    <p>
        <a href="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-03.jpg">
            <img alt="výměna větráčku notebooku" src="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-03-580.jpg" class="img-responsive" width="580" height="386">
        </a>
    </p>
    <p>
        <a href="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-04.jpg">
            <img alt="výměna větráčku notebooku" src="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-04-580.jpg" class="img-responsive" width="580" height="398">
        </a>
    </p>
    <p>
        <a href="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-05.jpg">
            <img alt="výměna větráčku notebooku" src="/img/2013/02/msi-ex620x-vymena-vetracku/vetracek-05-580.jpg" class="img-responsive" width="580" height="395">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/">TPB AFK: The Pirate Bay Away From Keyboard</a></h2>
    <p class="article-meta" data-article-id="201302220">
        <time datetime="2013-02-22">22. 2. 2013</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            Kategorie:
            <a href="/kategorie/filmy/">Filmy</a>,
            <a href="/kategorie/internet/">Internet</a>
        </span>
    </p>
    <p>
        <a title="CSFD" href="https://www.csfd.cz/film/327240-tpb-afk-pribeh-the-pirate-bay/prehled/" target="_blank" rel="noopener noreferrer">Dokument</a> o&nbsp;soudním procesu
        se zakladateli nejvyužívanější stránky pro sdílení dat. Film je opravdu pouze o&nbsp;soudním procesu a&nbsp;vlastně vůbec nevysvětluje
        jak sdílení dat pomocí <a title="The Pirate Bay" href="https://thepiratebay.org/index.html" target="_blank" rel="noopener noreferrer">The Pirate Bay</a> funguje. Zato je dobře vidět
        jak filmové společnosti, které žalují zakladatele této stránky, lžou a&nbsp;podplácí lidi aby dosáhly svého. Celý dokument
        hodně připomíná příklady soudních procesů z&nbsp;knihy
        <a title="Svobodná kultura" href="https://www.databazeknih.cz/knihy/svobodna-kultura-116436" target="_blank" rel="noopener noreferrer">Svobodná kultura</a>.
    </p>
    <p>
        Dokument je původně publikovaný pomocí <a title="YouTube" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">YouTube</a>
        a&nbsp;stránky The Pirate Bay. Kromě původní <a title="anglická verze" href="https://www.youtube.com/watch?v=eTOKXCEwo_8" target="_blank" rel="noopener noreferrer">anglické verze</a>
        se dá na Youtube najít už i&nbsp;<a title="česká verze" href="https://www.youtube.com/watch?v=evOWY97zjdg" target="_blank" rel="noopener noreferrer">česká verze</a>,
        ale díky závěrečné větě žádající o&nbsp;sdílení filmu, je možné stáhnout ho i&nbsp;z&nbsp;nejrůznějších úložišť.
        Sdílení tohoto dokumentu je legální díky tomu, že je vydán pod licencí
        <a title="typy creative commons licencí" href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.cs" target="_blank" rel="noopener noreferrer">creative commons BY-NC-ND</a>.
    </p>
    <p>
        <a href="/img/2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/tpb-afk.jpg">
            <img alt="plakát filmu TPB AFK: The Pirate Bay Away from Keyboard" src="/img/2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/tpb-afk-350.jpg" class="img-responsive" width="350" height="493">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2013/02/ahoj-vsichni/">Ahoj všichni!</a></h2>
    <p class="article-meta" data-article-id="201302130">
        <time datetime="2013-02-13">13. 02. 2013</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            Kategorie:
            <a href="/kategorie/ruzne/">Různé</a>
        </span>
    </p>
    <p>
        <em>Vítejte ve WordPressu. Toto je váš první testovací příspěvek.
        Můžete ho upravit, nebo smazat a&nbsp;postupně pak začít s&nbsp;tvorbou vlastního webu.</em>
    </p>
    <p>
        WordPress Vás přivítal a&nbsp;já Vás vítám také. Začínáme s&nbsp;čistým stolem. Chtěl bych upozornit,
        že v&nbsp;komentářích nefungují barevná jména z&nbsp;původního blogu, takže tam nezkoušej psát místo jména heslo.
    </p>
</article>
{{ macros::navigation(
    prev_url="/strana/2/",
    prev_text="«&nbsp;novější příspěvky",
    next_url="",
    next_text=""
) }}
{% endblock content %}
