{% extends "templates/layout.html" %}
{% block title %}2013{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2013.{% endblock description %}
{% block content %}
<section>
    <h2>2013</h2>
    <ul>
        <li>25. 12. 2013 - <a href="/2013/12/caj/">Čaj</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-omxplayer-a-mplayer/">Raspberry Pi – OMXPlayer a&nbsp;MPlayer</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-cerna-obrazovka/">Raspberry Pi – Černá obrazovka</a></li>
        <li>30. 11. 2013 - <a href="/2013/11/raspberry-pi-napajeni-a-repracky/">Raspberry Pi – Napájení a&nbsp;repráčky</a></li>
        <li>13. 11. 2013 - <a href="/2013/11/cesta-podel-malse/">Cesta podél Malše</a></li>
        <li>29. 10. 2013 - <a href="/2013/10/raspberry-pi-krabicka/">Raspberry Pi – Krabička</a></li>
        <li>25. 10. 2013 - <a href="/2013/10/raspberry-pi-raspbian-ssh-sftp-a-putty/">Raspberry Pi – Raspbian SSH, SFTP a&nbsp;PuTTY</a></li>
        <li>22. 10. 2013 - <a href="/2013/10/v-podzimni-prirode/">V podzimní přírodě</a></li>
        <li>22. 09. 2013 - <a href="/2013/09/bylinky-na-podzim/">Bylinky na podzim</a></li>
        <li>12. 09. 2013 - <a href="/2013/09/raspberry-pi-wi-fi-tp-link-tl-wn725n-instalace/">Raspberry Pi – Wi-Fi TP-LINK TL-WN725N instalace</a></li>
        <li>11. 09. 2013 - <a href="/2013/09/raspberry-pi-pasivni-chlazeni/">Raspberry Pi – pasivní chlazení</a></li>
        <li>07. 09. 2013 - <a href="/2013/09/stozec/">Stožec</a></li>
        <li>06. 09. 2013 - <a href="/2013/09/raspberry-pi-raspbian-instalace/">Raspberry Pi – Raspbian instalace</a></li>
        <li>31. 08. 2013 - <a href="/2013/08/raspberry-pi-objednavka/">Raspberry Pi – objednávka</a></li>
        <li>27. 08. 2013 - <a href="/2013/08/dovolena-na-cerine/">Dovolená na Čeříně</a></li>
        <li>08. 07. 2013 - <a href="/2013/07/sungit/">Šungit</a></li>
        <li>28. 06. 2013 - <a href="/2013/06/trenink-s-panvi/">Trénink s&nbsp;pánví</a></li>
        <li>12. 06. 2013 - <a href="/2013/06/bylinky-po-prvnim-mesici/">Bylinky po prvním měsíci</a></li>
        <li>13. 05. 2013 - <a href="/2013/05/pajovo-psaci-stul/">Pájovo psací stůl</a></li>
        <li>04. 05. 2013 - <a href="/2013/05/dalsi-dvojice-bylinek/">Další dvojice bylinek</a></li>
        <li>02. 05. 2013 - <a href="/2013/05/prvni-bylinky-na-zahradce/">První bylinky na zahrádce</a></li>
        <li>15. 04. 2013 - <a href="/2013/04/opozdene-velikonocni-pernicky/">Opožděné velikonoční perníčky</a></li>
        <li>26. 03. 2013 - <a href="/2013/03/konec-google-reader/">Konec Google Reader</a></li>
        <li>27. 02. 2013 - <a href="/2013/02/msi-ex620x-vymena-vetracku/">MSI EX620X – výměna větráčku</a></li>
        <li>22. 02. 2013 - <a href="/2013/02/tpb-afk-the-pirate-bay-away-from-keyboard/">TPB AFK: The Pirate Bay Away From Keyboard</a></li>
        <li>13. 02. 2013 - <a href="/2013/02/ahoj-vsichni/">Ahoj všichni!</a></li>
    </ul>
</section>
{% endblock content %}
