{% extends "templates/layout.html" %}
{% block title %}Rok 2015{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2015.{% endblock description %}
{% block content %}
<section>
    <h2>Rok 2015</h2>
    <ul>
        <li>11. 04. 2015 - <a href="/2015/04/dobudoval-jsem-strom-dovednosti/">Dobudoval jsem strom dovedností</a></li>
        <li>23. 02. 2015 - <a href="/2015/02/tri-bratri/">Tři bratři</a></li>
        <li>09. 02. 2015 - <a href="/2015/02/windows-8-1/">Windows 8.1</a></li>
    </ul>
</section>
{% endblock content %}
