{% extends "templates/layout.html" %}
{% block title %}Rok 2020{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2020.{% endblock description %}
{% block content %}
<section>
    <h2>Rok 2020</h2>
    <ul>
        <li>06. 12. 2020 - <a href="/2020/12/kalendar-2021/">Kalendář 2021</a></li>
        <li>04. 10. 2020 - <a href="/2020/10/proc-spime/">Proč spíme</a></li>
        <li>12. 01. 2020 - <a href="/2020/01/scitani-na-krmitku/">Sčítání na krmítku</a></li>
    </ul>
</section>
{% endblock content %}
