{% extends "templates/layout.html" %}
{% block title %}Rok 2022{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2022.{% endblock description %}
{% block content %}
<section>
    <h2>Rok 2022</h2>
    <ul>
        <li>05. 11. 2022 - <a href="/2022/11/kalendar-2023/">Kalendář 2023</a></li>
        <li>09. 01. 2022 - <a href="/2022/01/scitani-na-krmitku-2022/">Sčítání na krmítku 2022</a></li>
    </ul>
</section>
{% endblock content %}
