{% extends "templates/layout.html" %}
{% block title %}Rok 2023{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2023.{% endblock description %}
{% block content %}
<section>
    <h2>Rok 2023</h2>
    <ul>
        <li>18. 11. 2023 - <a href="/2023/11/kalendar-2024/">Kalendář 2024</a></li>
        <li>08. 01. 2023 - <a href="/2023/01/scitani-na-krmitku-2023/">Sčítání na krmítku 2023</a></li>
    </ul>
</section>
{% endblock content %}
