{% extends "templates/layout.html" %}
{% block title %}2024{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 20214{% endblock description %}
{% block content %}
<section>
    <h2>2024</h2>
    <ul>
        <li>05. 04. 2024 - <a href="/2024/04/cekani-na-jaro/">Čekání na jaro</a></li>
        <li>14. 01. 2024 - <a href="/2024/01/scitani-na-krmitku-2024/">Sčítání na krmítku 2024</a></li>
    </ul>
</section>
{% endblock content %}
