{% extends "templates/layout.html" %}
{% block title %}2025{% endblock title %}
{% block title_separator %} - {% endblock title_separator %}
{% block description %}Seznam článků v roce 2025.{% endblock description %}
{% block content %}
<section>
    <h2>Rok 2025</h2>
    <ul>
        <li>07. 12. 2025 - <a href="/2025/12/veverka/">Veverka</a></li>
        <li>08. 11. 2025 - <a href="/2025/11/kalendar-2026/">Kalendář 2026</a></li>
        <li>10. 07. 2025 - <a href="/2025/07/jak-me-vidi-chatgpt/">Jak mě vidí ChatGPT</a></li>
        <li>28. 04. 2025 - <a href="/2025/04/trifazove-buzeni/">Třífázové buzení</a></li>
        <li>21. 04. 2025 - <a href="/2025/04/velikonocni-beranek/">Velikonoční beránek</a></li>
        <li>29. 03. 2025 - <a href="/2025/03/evoluce-orbit/">Evoluce Orbit</a></li>
        <li>12. 03. 2025 - <a href="/2025/03/kingdom-come-deliverance-2/">Kingdom Come: Deliverance&nbsp;2</a></li>
        <li>13. 01. 2025 - <a href="/2025/01/scitani-na-krmitku-2025/">Sčítání na krmítku 2025</a></li>
        <li>12. 01. 2025 - <a href="/2025/01/rok-2024/">Rok 2024</a></li>
    </ul>
</section>
{% endblock content %}
