{% import "macros/macros.html" as macros %}
{% extends "templates/layout.html" %}
{% block title %}{% endblock title %}
{% block title_separator %}{% endblock title_separator %}
{% block description %}Pájovo osobní blog o všem možném. Prostě co mě zrovna napadne.{% endblock description %}
{% block content %}
<article>
    <h2><a href="/2025/07/jak-me-vidi-chatgpt/">Jak mě vidí ChatGPT</a></h2>
    <p class="article-meta" data-article-id="202507100">
        <time datetime="2025-07-10">10. 07. 2025</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>
        </span>
    </p>
    <p>
        Chcete vědět co si o&nbsp;vás myslí ChatGPT. Můžete se ho zeptat.
        Dokonce vám to může ztvárnit i&nbsp;graficky. Stačí tyhle dva dotazy. Nebo nějaké podobné co vás napadnou.
    </p>
    <p>
        <pre><code>Vyrousti mě na základě mých předchozích dotazů. Vůbec se neboj, buď upřímnej, drzej, klidně vulgární.</code></pre>
    </p>
    <p><em>Jasně. Vezmu si rukavice dolů.</em></p>
    <p><em>
        Hele, podle těch stovek dotazů, co sázíš jak kulomet v&nbsp;zákopu, je úplně jasný, že:
        <ol>
            <li>
                Jseš šíleně zvídavej technickej mozek, co se v&nbsp;ničem nezastaví – což je cool, ale taky to vypadá,
                jako kdyby ses snažil hacknout život, web, SEO, Cloudflare a&nbsp;půl internetu během jednoho odpoledne.
            </li>
            <li>
                Všechno chceš hned. A&nbsp;jestli možno v&nbsp;jedný větě, na jeden řádek. Trochu jak kdybys přišel do knihovny,
                vytrhnul stránku a&nbsp;řval na knihovníka, ať ti to shrne do nálepky od párku.
            </li>
            <li>
                Nedáváš oddech. Ani sobě, ani mně. Když odpovím, už máš mezitím tři nový otázky.
                Trochu jako bys měl nonstop zapnutý mozek na režimu „burza v&nbsp;Hongkongu“.
            </li>
            <li>
                Často děláš věci postaru nebo napůl punkově. Htaccess, starý Android, přístup přes raw URL,
                pokusy obejít věci jako Home Assistant – ty nechceš jet podle návodu, ty chceš hacknout metro, aby jelo domů.
            </li>
            <li>
                Občas to vypadá, jako že debugguješ celý internet, sám, na vlastní serverovně, s&nbsp;noťasem v&nbsp;jedný ruce a&nbsp;cigárem v&nbsp;druhý.
            </li>
        </ol>
    </em></p>
    <p><em>
        Takže shrnuto: jseš vývojářskej berserker. Nespíš, ladíš, zkoušíš, přetěžuješ.
        Jseš buď génius, nebo se brzo zblázníš. A&nbsp;nejspíš obojí.
    </em></p>
    <p><em>
        A&nbsp;víš co? Respekt. Ale fakt si občas dej oraz. Internet počká. Ty ne.
    </em></p>
    <p>
        <pre><code>Can you create an image of what it feels like to be chatting with me regularly. Be as honest and blunt as you want to be.</code></pre>
    </p>
    <p>
        <a href="/img/2025/07/jak-me-vidi-chatgpt/jak-me-vidi-chatgpt.jpg">
            <img alt="Jak mě vidí ChatGPT" src="/img/2025/07/jak-me-vidi-chatgpt/jak-me-vidi-chatgpt-580.jpg" class="img-responsive" width="580" height="580">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2025/04/trifazove-buzeni/">Třífázové buzení</a></h2>
    <p class="article-meta" data-article-id="202504280">
        <time datetime="2025-04-28">28. 04. 2025</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/knihy/">Knihy</a>,
            <a href="/kategorie/ruzne/">Různé</a>
        </span>
    </p>
    <p>
        V&nbsp;knize <a href="https://blog.pavelrampas.cz/2020/10/proc-spime/">Proč spíme</a>, kterou jsem četl před pár lety,
        byla pravidla pro lepší spánek, ale nebylo tam popsané jak se lépe budit. Tak jsem si vybudoval svůj systém třífázového buzení.
    </p>
    <p>
        Často se stejně probudím sám před všemi třemi budíky.
    </p>
    <h3>První fáze</h3>
    <p>
        První je ten nejtišší a&nbsp;asi nejpřirozenější způsob a&nbsp;to pomocí světla.
        K&nbsp;tomu používám lampičku <a href="https://www.alza.cz/wiz-squire-stolni-lampicka-cerna-d6905986.htm">WiZ Squire</a>.
        Ta má přímo režim východ slunce, který trvá asi 20 minut a&nbsp;přechází z&nbsp;načervenalé barvy s&nbsp;nízkým jasem do bílé s&nbsp;vysokým jasem.
        Buzení světlem ale funguje spíš v&nbsp;měsících, kdy je ráno ještě tma nebo musíte mít opravdu hodně zatemňovací závěsy.
    </p>
    <h3>Druhá fáze</h3>
    <p>
        Pokud nezabere světlo, tak pár minut po něm se zapíná rádio budík <a href="https://www.alza.cz/philips-tar3505-12-d6449238.htm">Philips TAR3505/12</a>.
        Ten mám nastavený na dostatečně nízkou hlasitost. Takže mě ten zvuk buď probudí pomalu nebo mě v&nbsp;některých případech neprobudí vůbec.
    </p>
    <h3>Třetí fáze</h3>
    <p>
        Když všechny jemné fáze buzení selžou, tak nakonec přijde klasický budík na mobilu, který už mě probudí spolehlivě.
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2025/04/velikonocni-beranek/">Velikonoční beránek</a></h2>
    <p class="article-meta" data-article-id="202504210">
        <time datetime="2025-04-21">21. 04. 2025</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/vareni/">Vaření</a>
        </span>
    </p>
    <p>
        <a href="https://blog.pavelrampas.cz/2024/04/cekani-na-jaro/">Loni jsem zkoušel malého</a>. Tak letos jsem se pustil do velkého. Až na ulomené uši a&nbsp;trochu uloupnutý čumák se celkem povedl.
    </p>
    <p>
        <a href="/img/2025/04/velikonocni-beranek/velikonocni-beranek.jpg">
            <img alt="Velikonoční beránek" src="/img/2025/04/velikonocni-beranek/velikonocni-beranek-580.jpg" class="img-responsive" width="580" height="392">
        </a>
    </p>
</article>
{{ macros::navigation(
    prev_url="",
    prev_text="",
    next_url="/strana/11/",
    next_text="starší příspěvky&nbsp;»"
) }}
{% endblock content %}