{% extends "templates/layout.html" %}
{% block title %}{% endblock title %}
{% block title_separator %}{% endblock title_separator %}
{% block description %}Pájovo osobní blog o všem možném. Prostě co mě zrovna napadne.{% endblock description %}
{% block content %}
<article>
    <h2><a href="/2024/01/scitani-na-krmitku-2024/">Sčítání na krmítku 2024</a></h2>
    <p class="article-meta">
        <time datetime="2024-01-14">14. 01. 2024</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/zahrada/">Zahrada</a>
        </span>
    </p>
    <p>
        kos černý: 5<br>
        sýkora koňadra: 4<br>
        sýkora modřinka: 2<br>
        pěnkava obecná: 2<br>
        strakapoud velký: 1<br>
        bažant obecný: 1<br>
        červenka obecná: 1<br>
        vrabec polní: 1<br>
        straka obecná: 1<br>
        dlask tlustozobý: 1<br>
        zvonek zelený: 12
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2023/11/kalendar-2024/">Kalendář 2024</a></h2>
    <p class="article-meta">
        <time datetime="2023-11-18">18. 11. 2023</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/kalendar/">Kalendář</a>
        </span>
    </p>
    <p>
        Jako vždy jsem připravil kalendáře na příští rok. PDF i&nbsp;zdrojové ODS soubory jsou ke stažení
        na adrese <a href="https://uloz.to/shared/folder/WNtscGBJ7ucQ">https://uloz.to/shared/folder/WNtscGBJ7ucQ</a>
    </p>
    <p>
        Nebo můžete jednotlivé kalendáře stahovat přímo tady na mém webu pomocí následujících odkazů.
    </p>
    <ul>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v1.pdf">Kalendář 2024 verze 1</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v2.pdf">Kalendář 2024 verze 2</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v3.pdf">Kalendář 2024 verze 3</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v4.pdf">Kalendář 2024 verze 4</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v5.pdf">Kalendář 2024 verze 5</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v6.pdf">Kalendář 2024 verze 6</a></li>
    </ul>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2023/01/scitani-na-krmitku-2023/">Sčítání na krmítku 2023</a></h2>
    <p class="article-meta">
        <time datetime="2023-01-08">08. 01. 2023</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/zahrada/">Zahrada</a>
        </span>
    </p>
    <p>
        Letošní <a href="https://ptacihodinka.birdlife.cz/">sčítání na krmítku</a> bylo trochu slabší.
        Je takový teplo, že ty ptáci nemají o&nbsp;krmítko zájem a&nbsp;moc na něj nelétají.
    </p>
    <p>
        vrabec polní: 13<br>
        pěnkava obecná: 1<br>
        sýkora koňadra: 4<br>
        sýkora modřinka: 6<br>
        brhlík lesní: 1<br>
        červenka obecná: 1<br>
        šoupálek: 1
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2022/11/kalendar-2023/">Kalendář 2023</a></h2>
    <p class="article-meta">
        <time datetime="2022-11-05">05. 11. 2022</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/kalendar/">Kalendář</a>
        </span>
    </p>
    <p>
        Jako vždy jsem připravil kalendáře na příští rok. PDF i&nbsp;zdrojové ODS soubory jsou
        ke stažení na adrese <a href="https://uloz.to/folder/Tis7x8XgToPT">https://uloz.to/folder/Tis7x8XgToPT</a>
    </p>
    <p>
        Nebo můžete jednotlivé kalendáře stahovat přímo tady na mém webu pomocí následujících odkazů.
    </p>
    <ul>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v1.pdf">Kalendář 2023 verze 1</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v2.pdf">Kalendář 2023 verze 2</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v3.pdf">Kalendář 2023 verze 3</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v4.pdf">Kalendář 2023 verze 4</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v5.pdf">Kalendář 2023 verze 5</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v6.pdf">Kalendář 2023 verze 6</a></li>
    </ul>
</article>
<nav class="nav-next-prev">
    <div></div>
    <a href="/strana/9/">starší příspěvky&nbsp;»</a>
</nav>
{% endblock content %}