{% import "macros/macros.html" as macros %}
{% extends "templates/layout.html" %}
{% block title %}{% endblock title %}
{% block title_separator %}{% endblock title_separator %}
{% block description %}Pájovo osobní blog o všem možném. Prostě co mě zrovna napadne.{% endblock description %}
{% block content %}
<article>
    <h2><a href="/2025/01/rok-2024/">Rok 2024</a></h2>
    <p class="article-meta">
        <time datetime="2024-01-12">12. 01. 2024</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/ruzne/">Různé</a>
        </span>
    </p>
    <p>
        Duolingo mi vždy na konci roku posílá přehled jak jsem si vedl. Říkal jsem si, že by mohlo být zajímavé kouknout na přehledy a&nbsp;statistiky i&nbsp;z&nbsp;nějakých dalších stránek.
    </p>

    <h3>Duolingo</h3>
    <p>
        <a href="/img/2025/01/rok-2024/duolingo.jpg">
            <img alt="Duolingo" src="/img/2025/01/rok-2024/duolingo.jpg" class="img-responsive" width="570" height="723">
        </a>
    </p>

    <h3>ČSFD a&nbsp;Databáze knih</h3>
    <p>
        Ani u&nbsp;jednoho jsem nenašel statistiky, tak jsem sčítal ručně. Podle počtu hodnocení jsem viděl <a href="https://www.csfd.cz/uzivatel/237406-pajapaja/hodnoceni/">38&nbsp;filmů a&nbsp;seriálů</a>.
            Akorát tam chybí další série seriálů, protože ty už znova nehodnotím. Na databázi knih mám <a href="https://www.databazeknih.cz/prectene-knihy/pajapaja-5810">10&nbsp;hodnocení</a>. To není moc, tak jsem sečetl počet stran. 3108&nbsp;stran za rok už působí líp.
    </p>

    <h3>Printables</h3>
    <p>
        Na <a href="https://www.printables.com/cs/@PavelRampas">Printables</a> jsou přehledné statistiky. Akorát tam chybí, že jsem zveřejnil 9&nbsp;modelů.
    </p>
    <p>
        <a href="/img/2025/01/rok-2024/printables.png">
            <img alt="Printables" src="/img/2025/01/rok-2024/printables-580.png" class="img-responsive" width="580" height="167">
        </a>
    </p>

    <h3>Github</h3>
    <p>
        Na mém <a href="https://github.com/pavelrampas/">GitHub</a> účtu jsem udělal 57&nbsp;commitů a&nbsp;to hlavně na jaře, když jsem můj blog předělával na statický.
    </p>
    <p>
        <a href="/img/2025/01/rok-2024/github.png">
            <img alt="GitHub" src="/img/2025/01/rok-2024/github-580.png" class="img-responsive" width="580" height="117">
        </a>
    </p>

    <h3>Steam</h3>
    <p>
        Steam dělá taky souhrn. Jenže mi nepřišel na email a&nbsp;dohledat ho chvilku trvalo. 2&nbsp;hry odehrané za rok je dobrý výkon. Je to o&nbsp;jednu víc než v&nbsp;předchozím roce.
    </p>
    <p>
        <a href="/img/2025/01/rok-2024/steam.jpg">
            <img alt="Steam" src="/img/2025/01/rok-2024/steam-580.jpg" class="img-responsive" width="580" height="580">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2024/11/kalendar-2025/">Kalendář 2025</a></h2>
    <p class="article-meta">
        <time datetime="2024-11-01">01. 11. 2024</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/kalendar/">Kalendář</a>
        </span>
    </p>
    <p>
        Stejně jako v&nbsp;předchozích letech přišel čas nových kalendářů na příští rok. Kalendáře si můžete stáhnout ve formátu pdf nebo ods.
    </p>
    <p>
        Snad tam nemám tolik chyb jako v&nbsp;těch loňských.
    </p>
    <ul>
        <li>Verze 1: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v1.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v1.ods">ods</a></li>
        <li>Verze 2: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v2.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v2.ods">ods</a></li>
        <li>Verze 3: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v3.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v3.ods">ods</a></li>
        <li>Verze 4: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v4.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v4.ods">ods</a></li>
        <li>Verze 5: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v5.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v5.ods">ods</a></li>
        <li>Verze 6: <a href="/pdf/2024/11/kalendar-2025/kalendar-2025-v6.pdf">pdf</a>, <a href="/ods/2024/11/kalendar-2025/kalendar-2025-v6.ods">ods</a></li>
    </ul>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2024/04/cekani-na-jaro/">Čekání na jaro</a></h2>
    <p class="article-meta">
        <time datetime="2024-04-05">05. 04. 2024</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/vareni/">Vaření</a>,
            <a href="/kategorie/knihy/">Knihy</a>
        </span>
    </p>
    <p>
        Není to tak, že bych já čekal na jaro, kterého bych se už ani nedočkal, protože přišlo rovnou léto.
        <a href="https://eshop.kucharkaprodceru.cz/kucharky/cekani-na-jaro/">Čekání na jaro</a> je totiž název nejnovější
        kuchařky z&nbsp;řady kuchařek od Florentýny. Podle které jsem pekl velikonočního beránka a&nbsp;na poprvé to nedopadlo zase tak špatně.
        Beránek se celkem povedl a&nbsp;dal se dokonce i&nbsp;jíst. Pokud by vás zajímal recept, tak je kromě knížky i&nbsp;na blogu
        <a href="https://www.kucharkaprodceru.cz/velikonocni-beranek/">Kuchařka pro dceru</a>.
    </p>
    <p>
        <a href="/img/2024/04/cekani-na-jaro/velikonocni-beranek.jpg">
            <img alt="velikonoční beránek" src="/img/2024/04/cekani-na-jaro/velikonocni-beranek-580.jpg" class="img-responsive" width="580" height="399">
        </a>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2024/01/scitani-na-krmitku-2024/">Sčítání na krmítku 2024</a></h2>
    <p class="article-meta">
        <time datetime="2024-01-14">14. 01. 2024</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/zahrada/">Zahrada</a>
        </span>
    </p>
    <ul>
        <li>kos černý: 5</li>
        <li>sýkora koňadra: 4</li>
        <li>sýkora modřinka: 2</li>
        <li>pěnkava obecná: 2</li>
        <li>strakapoud velký: 1</li>
        <li>bažant obecný: 1</li>
        <li>červenka obecná: 1</li>
        <li>vrabec polní: 1</li>
        <li>straka obecná: 1</li>
        <li>dlask tlustozobý: 1</li>
        <li>zvonek zelený: 12</li>
    </ul>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2023/11/kalendar-2024/">Kalendář 2024</a></h2>
    <p class="article-meta">
        <time datetime="2023-11-18">18. 11. 2023</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/kalendar/">Kalendář</a>
        </span>
    </p>
    <p>
        Jako vždy jsem připravil kalendáře na příští rok.
    </p>
    <ul>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v1.pdf">Kalendář 2024 verze 1</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v2.pdf">Kalendář 2024 verze 2</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v3.pdf">Kalendář 2024 verze 3</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v4.pdf">Kalendář 2024 verze 4</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v5.pdf">Kalendář 2024 verze 5</a></li>
        <li><a href="/pdf/2023/11/kalendar-2024/kalendar-2024-v6.pdf">Kalendář 2024 verze 6</a></li>
    </ul>
    <p>
        <i>21. 09. 2024 - Opravena chyba v měsíci říjnu.</i>
    </p>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2023/01/scitani-na-krmitku-2023/">Sčítání na krmítku 2023</a></h2>
    <p class="article-meta">
        <time datetime="2023-01-08">08. 01. 2023</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/zahrada/">Zahrada</a>
        </span>
    </p>
    <p>
        Letošní <a href="https://ptacihodinka.birdlife.cz/">sčítání na krmítku</a> bylo trochu slabší.
        Je takový teplo, že ty ptáci nemají o&nbsp;krmítko zájem a&nbsp;moc na něj nelétají.
    </p>
    <ul>
        <li>vrabec polní: 13</li>
        <li>pěnkava obecná: 1</li>
        <li>sýkora koňadra: 4</li>
        <li>sýkora modřinka: 6</li>
        <li>brhlík lesní: 1</li>
        <li>červenka obecná: 1</li>
        <li>šoupálek: 1</li>
    </ul>
</article>
<div class="article-separator"></div>
<article>
    <h2><a href="/2022/11/kalendar-2023/">Kalendář 2023</a></h2>
    <p class="article-meta">
        <time datetime="2022-11-05">05. 11. 2022</time>
        <span class="article-meta-separator">|</span>
        <span class="article-meta-categories">
            <a href="/kategorie/internet/">Internet</a>,
            <a href="/kategorie/kalendar/">Kalendář</a>
        </span>
    </p>
    <p>
        Jako vždy jsem připravil kalendáře na příští rok.
    </p>
    <ul>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v1.pdf">Kalendář 2023 verze 1</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v2.pdf">Kalendář 2023 verze 2</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v3.pdf">Kalendář 2023 verze 3</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v4.pdf">Kalendář 2023 verze 4</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v5.pdf">Kalendář 2023 verze 5</a></li>
        <li><a href="/pdf/2022/11/kalendar-2023/kalendar-2023-v6.pdf">Kalendář 2023 verze 6</a></li>
    </ul>
</article>
{{ macros::navigation(
    prev_url="",
    prev_text="",
    next_url="/strana/9/",
    next_text="starší příspěvky&nbsp;»"
) }}
{% endblock content %}